@import 'vars';
@import 'global';
@import 'fonts';
.header__inner {
    background-color: #eef1f3;
}

.header__top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.header__logo {
    margin-left: 7px;
    a {
        img {
            width: 200px;
            height: 50px;
        }
    }
}

.header__top-items {
    display: flex;
    justify-content: space-between;
}

.header__top-btn {
    background-color: #0674ec;
    border-radius: 30px;
    width: 140px;
    height: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
}