@import 'vars';
@import 'global';
@import 'fonts';
// start header
.header__inner-top {
    background-color: #eef1f3;
}

.header__top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.header__logo {
    margin-left: 7px;
    a {
        img {
            width: 200px;
            height: 50px;
        }
    }
}

.header__top-items {
    display: flex;
    justify-content: space-between;
}

.header__top-btn {
    margin-top: 6px;
    border: none;
    background-color: $blue;
    border-radius: 30px;
    width: 140px;
    height: 36px;
    a {
        color: #fff;
        font-size: 14px;
        line-height: 28px;
    }
}

.header__top-icons {
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    max-width: 120px;
}

.header__top-personal {
    max-width: 172px;
    line-height: 22px;
    font-weight: 500;
    margin-right: 2px;
}

.header__top-name {
    color: #333333;
    font-weight: 500;
    margin-bottom: 6px;
}

.header__top-balance {
    color: $blue;
    font-size: 15px;
}

.header__inner-menu {
    background-color: #fff;
}

.header__menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.header__menu-items {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: 528px;
    li {
        a {
            color: #333;
            font-weight: 500;
            font-size: 15px;
            line-height: 42px;
            padding-top: 18px;
            padding-right: 33px;
        }
    }
}

.header__search-form {
    position: relative;
    form {
         ::placeholder {
            color: #898f96;
            font-size: 15px;
        }
        input {
            width: 360px;
            height: 46px;
            margin-top: 17px;
            border: 1px solid #d9dfe5;
            border-radius: 20px;
            padding: 0 80px 0 25px;
            outline: none;
        }
        button {
            position: absolute;
            width: 70px;
            height: 46px;
            background-color: $blue;
            border: none;
            border-radius: 20px;
            top: 17px;
            right: 0;
            cursor: pointer;
            img {
                padding-top: 5px;
            }
        }
    }
}

// end header
// start search
.search__text-items {
    position: relative;
    text-align: center;
    color: #f3f3f8;
    .search__title {
        font-size: 60px;
        line-height: 70px;
    }
    .title-1 {
        padding-top: 185px;
    }
    .title-2 {
        font-size: 60px;
        line-height: 70px;
        font-weight: 700;
        padding-top: 25px;
    }
    .search__text {
        font-size: 20px;
        font-weight: 500;
        padding-top: 50px;
    }
    .search__buttons {
        padding-top: 68px;
        padding-bottom: 235px;
        button {
            width: 190px;
            height: 55px;
            border: 1px solid #fff;
            border-radius: 25px;
            background-color: transparent;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            outline: none;
            &:focus {
                background-color: #fff;
                color: $blue;
            }
        }
    }
    .all_products {
        margin-right: 15px;
    }
    .popular_products {
        margin-left: 15px;
    }
    .search__form-items {
        position: relative;
        height: 135px;
        .search__form-bg1 {
            position: relative;
            max-width: 1080px;
            background-color: #fff;
            opacity: 50%;
            border-radius: 6px;
            height: 135px;
            left: 30px;
            bottom: -40px;
            z-index: 1;
        }
        .search__form-bg2 {
            position: relative;
            max-width: 1110px;
            background-color: #fff;
            opacity: 50%;
            border-radius: 6px;
            height: 135px;
            left: 15px;
            bottom: 83px;
            z-index: 2;
        }
        .search__form {
            position: absolute;
            background-color: #fff;
            opacity: 50%;
            border-radius: 6px;
            height: 135px;
            left: 0;
            bottom: -66px;
            z-index: 3;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            form {
                width: 1140px;
                display: flex;
                justify-content: space-between;
                input {
                    position: absolute;
                    left: 40px;
                    top: 40px;
                    width: 613px;
                    height: 55px;
                    border: 1px solid #dcdcdc;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    outline: none;
                    color: #676767;
                    padding-left: 28px;
                    padding-right: 10px;
                }
                p {
                    select {
                        position: absolute;
                        width: 195px;
                        height: 55px;
                        top: 40px;
                        right: 292px;
                        border: 1px solid #dcdcdc;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                        border-left: none;
                        cursor: pointer;
                        outline: none;
                        color: #555555;
                        padding-left: 20px;
                    }
                }
                button {
                    position: absolute;
                    width: 223px;
                    height: 55px;
                    top: 40px;
                    right: 40px;
                    background-color: $blue;
                    border-radius: 3px;
                    cursor: pointer;
                    outline: none;
                    color: #fff;
                }
            }
        }
    }
}

// end search
// start description
.description {
    background-color: #fff;
    .description__inner {
        text-align: center;
        .description__items {
            display: flex;
            justify-content: space-between;
            padding-bottom: 121px;
            .description__item-research {
                margin-top: 231px;
                max-width: 360px;
                .description__research {
                    position: relative;
                    .description__img-research {
                        position: absolute;
                        bottom: 57px;
                        left: 125px;
                    }
                }
            }
            .description__item-research:hover {
                border-radius: 4px;
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                background-color: #fff;
            }
            .description__item-responsiv {
                margin-top: 231px;
                max-width: 360px;
                .description__responsiv {
                    position: relative;
                    .description__img-responsiv {
                        position: absolute;
                        bottom: 57px;
                        left: 125px;
                    }
                }
            }
            .description__item-responsiv:hover {
                border-radius: 4px;
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                background-color: #fff;
            }
            .description__item-buy {
                margin-top: 231px;
                max-width: 360px;
                .description__buy {
                    position: relative;
                    .description__img-buy {
                        position: absolute;
                        bottom: 57px;
                        left: 125px;
                    }
                }
            }
            .description__item-buy:hover {
                border-radius: 4px;
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                background-color: #fff;
            }
            .title {
                color: #000;
                font-size: 24px;
                padding-top: 201px;
            }
            .text {
                padding: 34px 35px 0;
                padding-bottom: 49px;
                color: $text;
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
}

// end description
// start slider
.slider__inner {
    max-height: 850px;
    padding-bottom: 120px;
    .slider__scroll {
        height: 110px;
        margin-top: 120px;
        background-color: #fff;
        padding-top: 42px;
        padding-left: 30px;
        font-size: 30px;
        color: #000;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
    }
    .slider__scroll-arrows {
        background-color: #7347c1;
        border-radius: 18px;
        width: 110px;
        height: 45px;
        display: flex;
        position: relative;
        margin: -9px 30px;
        .slick__arrow {
            position: absolute;
            width: 7px;
            height: 14px;
        }
        .arrow-left {
            background-image: url(../images/slider/icons/arrow-left.png);
            top: 15px;
            left: 27px;
            cursor: pointer;
        }
        .arrow-right {
            background-image: url(../images/slider/icons/arrow-right.png);
            top: 15px;
            right: 27px;
            cursor: pointer;
        }
    }
    .slider__slide {
        margin-top: 50px;
        .slider__slide-box {
            background-color: #fff;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            position: relative;
            min-height: 457px;
            img {
                max-width: 555px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                position: absolute;
            }
            .slider__description {
                position: absolute;
                max-width: 586px;
                padding: 0 50px;
                top: 0;
                right: 0;
                .slider__description-title {
                    color: #000;
                    font-size: 24px;
                    margin-top: 44px;
                }
                .slider__description-developer {
                    margin-top: 15px;
                    display: flex;
                    justify-content: flex-start;
                    .slider__developer-name {
                        position: relative;
                        padding-left: 39px;
                        font-size: 15px;
                        color: #000;
                        img {
                            position: absolute;
                            left: 0;
                        }
                    }
                    .slider__developer-cms {
                        position: relative;
                        margin-left: 22px;
                        padding-left: 26px;
                        color: #7347c1;
                        font-size: 15px;
                        img {
                            position: absolute;
                            left: 0;
                            top: 7px;
                        }
                    }
                }
                .slider__description-text {
                    margin-top: 24px;
                    color: $text;
                }
                .slider__description-links {
                    margin-top: 40px;
                    margin-left: -7px;
                    padding-left: 0;
                    display: flex;
                    a {
                        padding-left: 7px;
                        .slider__links-btn {
                            color: #868c96;
                            font-size: 15px;
                            background-color: #f1f3f6;
                            cursor: pointer;
                            outline: none;
                            border: none;
                            border-radius: 10px;
                            height: 28px;
                        }
                    }
                }
                .slider__description-price {
                    margin-top: 44px;
                    border-top: 1px solid #ececec;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 23px;
                    padding-bottom: 24px;
                    .slider__price {
                        width: 100px;
                        height: 32px;
                        background-color: $blue;
                        border-radius: 15px;
                        text-align: center;
                        color: #fff;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    .slider__likes {
                        min-width: 34px;
                        font-size: 15px;
                    }
                }
                .slider__sells {
                    min-width: 31px;
                }
                .slider__rating {
                    width: 87px;
                    height: 14px;
                }
            }
        }
    }
}

// end slider
// start products
.products {
    background-color: #f6f7fb;
    padding-top: 120px;
}

.products__title-items {
    display: flex;
    justify-content: space-between;
    min-height: 110px;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    .products__title {
        font-size: 30px;
        color: #000;
        padding-left: 32px;
    }
    .products__filter {
        position: relative;
        color: #747b86;
        padding-right: 60px;
        min-height: 20px;
    }
    .products__filter::after {
        content: '';
        background-image: url(../images/products/icons/dots.png);
        width: 5px;
        height: 20px;
        position: absolute;
        right: 30px;
        top: 7px;
    }
}

.products__sort-items {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 30px 0px 30px 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    background-color: #fff;
    .products__sort-btn {
        margin-right: 10px;
        background-color: #f1f3f6;
        font-size: 15px;
        color: #747b86;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.products__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product__items-items {
    max-width: 361px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-top: 30px;
}

.product__image-items {
    max-height: 230px;
    text-align: center;
}

.product__image {
    height: 230px;
}

.product__image-btn {
    margin-top: 93px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 17px 31px;
    border: 1px solid #f4f4f4;
    background-color: transparent;
    border-radius: 25px;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: $blue;
    }
}

.product__title {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    padding-left: 29px;
    padding-top: 30px;
}

.product__info {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.product__info-name {
    background-repeat: no-repeat;
    margin-left: 29px;
    padding-left: 35px;
    a {
        color: #000;
        font-size: 15px;
    }
}

.product__info-about {
    margin-left: 20px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 15px;
    color: #7347c1;
}

.product__text {
    margin-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
}

.product__price-items {
    display: flex;
    justify-content: start;
    border-top: 1px solid #ececec;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.product__price {
    margin-left: 30px;
    margin-right: 13px;
    width: 60px;
    height: 30px;
    background-color: #e6f1fd;
    border-radius: 14px;
    text-align: center;
    color: $blue;
    font-weight: 500;
    font-size: 15px;
}

.product__likes {
    margin-right: 70px;
    padding-left: 22px;
    color: #6f7d8d;
    font-size: 15px;
}

.product__sales {
    margin-left: 70px;
    padding-left: 24px;
    color: $blue;
    font-size: 15px;
}

.products__sort {
    text-align: center;
    margin-top: 60px;
}

.products__sort-btn.btn {
    margin-bottom: 0;
}

.products__sort-btn {
    width: 190px;
    height: 55px;
    background-color: $blue;
    color: #fff;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 120px;
}

.products__sort-btn.mixitup-control-active {
    background-color: $blue;
    color: #fff;
}

.feedback__title {
    height: 110px;
    margin-top: 120px;
    background-color: #fff;
    padding-top: 42px;
    padding-left: 30px;
    font-size: 30px;
    color: #000;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.slider__scroll-arrows {
    background-color: $blue;
    border-radius: 18px;
    width: 110px;
    height: 45px;
    display: flex;
    position: relative;
    margin: -9px 30px;
    .slick__arrow {
        position: absolute;
        width: 7px;
        height: 14px;
    }
    .arrow-left {
        background-image: url(../images/slider/icons/arrow-left.png);
        top: 15px;
        left: 27px;
        cursor: pointer;
    }
    .arrow-right {
        background-image: url(../images/slider/icons/arrow-right.png);
        top: 15px;
        right: 27px;
        cursor: pointer;
    }
}