@import 'vars';
@import 'global';
@import 'fonts';
// start header
.header__inner-top {
    background-color: #eef1f3;
}

.header__top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.header__logo {
    margin-left: 7px;
    a {
        img {
            width: 200px;
            height: 50px;
        }
    }
}

.header__top-items {
    display: flex;
    justify-content: space-between;
}

.header__top-btn {
    margin-top: 6px;
    border: none;
    background-color: $blue;
    border-radius: 30px;
    width: 140px;
    height: 36px;
    margin-right: 58px;
    a {
        color: #fff;
        font-size: 14px;
        line-height: 28px;
    }
}

.header__top-icons {
    display: flex;
    justify-content: space-between;
    min-width: 120px;
}

.header__top-icon {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 42px;
    min-width: 22px;
    height: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
}

.bell {
    position: relative;
    background-color: #ff6a6c;
    margin-right: 30px;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/header/alarm.png);
        background-repeat: no-repeat;
        width: 16px;
        height: 19px;
        left: -7px;
        bottom: -12px;
    }
}

.letter {
    position: relative;
    background-color: #62d03b;
    margin-right: 30px;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/header/letter.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 19px;
        left: -15px;
        bottom: -14px;
    }
}

.basket {
    background-color: #0674ec;
    margin-right: 32px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/header/cart.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 19px;
        left: -14px;
        bottom: -12px;
    }
}

.header__top-avatar {
    margin-right: 23px;
}

.header__top-personal {
    max-width: 172px;
    line-height: 22px;
    font-weight: 500;
    margin-right: 2px;
}

.header__top-name {
    color: #333333;
    font-weight: 500;
    margin-bottom: 6px;
}

.header__top-balance {
    color: $blue;
    font-size: 15px;
}

.header__inner-menu {
    background-color: #fff;
}

.header__menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.header__menu-items {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: 528px;
    li {
        a {
            color: #333;
            font-weight: 500;
            font-size: 15px;
            line-height: 42px;
            padding-top: 18px;
            padding-right: 33px;
        }
    }
}

.header__search-form {
    position: relative;
    form {
         ::placeholder {
            color: #898f96;
            font-size: 15px;
        }
        input {
            width: 360px;
            height: 46px;
            margin-top: 17px;
            border: 1px solid #d9dfe5;
            border-radius: 20px;
            padding: 0 80px 0 25px;
            outline: none;
        }
        button {
            position: absolute;
            width: 70px;
            height: 46px;
            background-color: $blue;
            border: none;
            border-radius: 20px;
            top: 17px;
            right: 0;
            outline: none;
            cursor: pointer;
            img {
                padding-top: 5px;
            }
        }
    }
}

// end header
// start search
.search__text-items {
    position: relative;
    text-align: center;
    color: #f3f3f8;
    .search__title {
        font-size: 60px;
        line-height: 70px;
    }
    .title-1 {
        padding-top: 185px;
    }
    .title-2 {
        font-size: 60px;
        line-height: 70px;
        font-weight: 700;
        padding-top: 25px;
    }
    .search__text {
        font-size: 20px;
        font-weight: 500;
        padding-top: 50px;
    }
    .search__buttons {
        padding-top: 68px;
        padding-bottom: 235px;
        button {
            width: 190px;
            height: 55px;
            border: 1px solid #fff;
            border-radius: 25px;
            background-color: transparent;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            outline: none;
            &:focus {
                background-color: #fff;
                color: $blue;
            }
        }
    }
    .all_products {
        margin-right: 15px;
    }
    .popular_products {
        margin-left: 15px;
    }
    .search__form-items {
        position: relative;
        height: 135px;
        .search__form-bg1 {
            position: relative;
            max-width: 1080px;
            background-color: #fff;
            opacity: 50%;
            border-radius: 6px;
            height: 135px;
            left: 30px;
            bottom: -40px;
            z-index: 1;
        }
        .search__form-bg2 {
            position: relative;
            max-width: 1110px;
            background-color: #fff;
            opacity: 50%;
            border-radius: 6px;
            height: 135px;
            left: 15px;
            bottom: 83px;
            z-index: 2;
        }
        .search__form {
            position: absolute;
            background-color: #fff;
            opacity: 85%;
            border-radius: 6px;
            height: 135px;
            left: 0;
            bottom: -66px;
            z-index: 3;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            form {
                width: 1140px;
                display: flex;
                justify-content: space-between;
                input {
                    position: absolute;
                    left: 40px;
                    top: 40px;
                    width: 613px;
                    height: 55px;
                    border: 1px solid #dcdcdc;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    outline: none;
                    color: #676767;
                    padding-left: 28px;
                    padding-right: 10px;
                }
                p {
                    select {
                        position: absolute;
                        width: 195px;
                        height: 55px;
                        top: 40px;
                        right: 292px;
                        border: 1px solid #dcdcdc;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                        border-left: none;
                        cursor: pointer;
                        outline: none;
                        color: #555555;
                        padding-left: 20px;
                    }
                }
                button {
                    position: absolute;
                    width: 223px;
                    height: 55px;
                    top: 40px;
                    right: 40px;
                    background-color: $blue;
                    border-radius: 3px;
                    cursor: pointer;
                    outline: none;
                    color: #fff;
                }
            }
        }
    }
}

// end search
// start description
.description {
    background-color: #fff;
    .description__inner {
        text-align: center;
        .description__items {
            display: flex;
            justify-content: space-between;
            padding-bottom: 121px;
            .description__item-research {
                margin-top: 231px;
                max-width: 360px;
                .description__research {
                    position: relative;
                    .description__img-research {
                        position: absolute;
                        bottom: 57px;
                        left: 125px;
                    }
                }
            }
            .description__item-research:hover {
                border-radius: 4px;
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                background-color: #fff;
            }
            .description__item-responsiv {
                margin-top: 231px;
                max-width: 360px;
                .description__responsiv {
                    position: relative;
                    .description__img-responsiv {
                        position: absolute;
                        bottom: 57px;
                        left: 125px;
                    }
                }
            }
            .description__item-responsiv:hover {
                border-radius: 4px;
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                background-color: #fff;
            }
            .description__item-buy {
                margin-top: 231px;
                max-width: 360px;
                .description__buy {
                    position: relative;
                    .description__img-buy {
                        position: absolute;
                        bottom: 57px;
                        left: 125px;
                    }
                }
            }
            .description__item-buy:hover {
                border-radius: 4px;
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                background-color: #fff;
            }
            .title {
                color: #000;
                font-size: 24px;
                padding-top: 201px;
            }
            .text {
                padding: 34px 35px 0;
                padding-bottom: 49px;
                color: $text;
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
}

// end description
// start slider
.slider__inner {
    max-height: 850px;
    padding-bottom: 120px;
    .slider__scroll {
        height: 110px;
        margin-top: 120px;
        background-color: #fff;
        padding-top: 42px;
        padding-left: 30px;
        font-size: 30px;
        color: #000;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
    }
    .slider__scroll-arrows {
        background-color: #7347c1;
        border-radius: 18px;
        width: 110px;
        height: 45px;
        display: flex;
        position: relative;
        margin: -9px 30px;
        .slick__arrow {
            position: absolute;
            width: 7px;
            height: 14px;
        }
        .left {
            background-image: url(../images/slider/icons/arrow-left.png);
            top: 15px;
            left: 27px;
            cursor: pointer;
        }
        .right {
            background-image: url(../images/slider/icons/arrow-right.png);
            top: 15px;
            right: 27px;
            cursor: pointer;
        }
    }
    .slider__slide {
        margin-top: 50px;
        .slider__slide-box {
            background-color: #fff;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            position: relative;
            min-height: 457px;
            img {
                max-width: 555px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                position: absolute;
            }
            .slider__description {
                position: absolute;
                max-width: 586px;
                padding: 0 50px;
                top: 0;
                right: 0;
                .slider__description-title {
                    color: #000;
                    font-size: 24px;
                    margin-top: 44px;
                }
                .slider__description-developer {
                    margin-top: 15px;
                    display: flex;
                    justify-content: flex-start;
                    .slider__developer-name {
                        position: relative;
                        padding-left: 39px;
                        font-size: 15px;
                        color: #000;
                        img {
                            position: absolute;
                            left: 0;
                        }
                    }
                    .slider__developer-cms {
                        position: relative;
                        margin-left: 22px;
                        padding-left: 26px;
                        color: #7347c1;
                        font-size: 15px;
                        img {
                            position: absolute;
                            left: 0;
                            top: 7px;
                        }
                    }
                }
                .slider__description-text {
                    margin-top: 24px;
                    color: $text;
                }
                .slider__description-links {
                    margin-top: 40px;
                    margin-left: -7px;
                    padding-left: 0;
                    display: flex;
                    a {
                        padding-left: 7px;
                        .slider__links-btn {
                            color: #868c96;
                            font-size: 15px;
                            background-color: #f1f3f6;
                            cursor: pointer;
                            outline: none;
                            border: none;
                            border-radius: 10px;
                            height: 28px;
                        }
                    }
                }
                .slider__description-price {
                    margin-top: 44px;
                    border-top: 1px solid #ececec;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 23px;
                    padding-bottom: 24px;
                    .slider__price {
                        width: 100px;
                        height: 32px;
                        background-color: $blue;
                        border-radius: 15px;
                        text-align: center;
                        color: #fff;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    .slider__likes {
                        position: relative;
                        font-size: 15px;
                        padding-left: 26px;
                        &::before {
                            content: '';
                            position: absolute;
                            background-image: url(../images/slider/icons/heart.png);
                            width: 16px;
                            height: 14px;
                            left: 0;
                            bottom: 10px;
                        }
                    }
                }
                .slider__sells {
                    position: relative;
                    padding-left: 23px;
                    color: #0674ec;
                    &::before {
                        content: '';
                        position: absolute;
                        background-image: url(../images/slider/icons/sels.png);
                        width: 14px;
                        height: 14px;
                        left: 0;
                        bottom: 10px;
                    }
                }
                .slider__rating {
                    padding-top: 5px;
                }
            }
        }
    }
}

// end slider
// start products
.products {
    background-color: #f6f7fb;
    padding-top: 120px;
}

.products__title-items {
    display: flex;
    justify-content: space-between;
    min-height: 110px;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    .products__title {
        font-size: 30px;
        color: #000;
        padding-left: 32px;
    }
    .products__filter {
        position: relative;
        color: #747b86;
        padding-right: 60px;
        min-height: 20px;
    }
    .products__filter::after {
        content: '';
        background-image: url(../images/products/icons/dots.png);
        width: 5px;
        height: 20px;
        position: absolute;
        right: 30px;
        top: 7px;
    }
}

.products__sort-items {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 30px 0px 30px 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    background-color: #fff;
    .products__sort-btn {
        margin-right: 10px;
        background-color: #f1f3f6;
        font-size: 15px;
        color: #747b86;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.products__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product__items-items {
    max-width: 361px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-top: 30px;
}

.product__image-items {
    max-height: 230px;
    text-align: center;
}

.product__image {
    height: 230px;
    // a {
    //     display: none;
    //     &:hover {
    //         display: inline-block;
    //     }
    // }
}

.product__image-btn {
    margin-top: 93px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 17px 31px;
    border: 1px solid #f4f4f4;
    background-color: transparent;
    border-radius: 25px;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: $blue;
        transition: all 0.7s;
    }
}

.product__title {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    padding-left: 29px;
    padding-top: 30px;
}

.product__info {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.product__info-name {
    background-repeat: no-repeat;
    margin-left: 29px;
    padding-left: 35px;
    a {
        color: #000;
        font-size: 15px;
    }
}

.product__info-about {
    margin-left: 20px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 15px;
    color: #7347c1;
}

.product__text {
    margin-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
}

.product__price-items {
    display: flex;
    justify-content: start;
    border-top: 1px solid #ececec;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.product__price {
    margin-left: 30px;
    width: 60px;
    height: 30px;
    background-color: #e6f1fd;
    border-radius: 14px;
    text-align: center;
    color: $blue;
    font-weight: 500;
    font-size: 15px;
}

.product__likes {
    margin-left: 14px;
    padding-left: 22px;
    color: #6f7d8d;
    font-size: 15px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/slider/icons/heart.png);
        width: 16px;
        height: 14px;
        left: 0;
        bottom: 10px;
    }
}

.products__rating {
    padding-top: 7px;
    margin-left: 15px;
}

.one,
.two,
.five {
    opacity: 0;
}

.product__sales {
    margin-left: 55px;
    padding-left: 24px;
    color: $blue;
    font-size: 15px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/slider/icons/sels.png);
        width: 14px;
        height: 14px;
        left: 0;
        bottom: 10px;
    }
}

.products__sort {
    text-align: center;
    margin-top: 60px;
}

.products__sort-btn.btn {
    margin-bottom: 0;
}

.products__sort-btn {
    width: 190px;
    height: 55px;
    background-color: $blue;
    color: #fff;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 120px;
}

.products__sort-btn.mixitup-control-active {
    background-color: $blue;
    color: #fff;
}

// end products
// start slider feedback 
.slider__feedback-title {
    height: 110px;
    margin-top: 120px;
    background-color: #fff;
    padding-top: 42px;
    padding-left: 30px;
    font-size: 30px;
    color: #000;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.slider__scroll-arrows {
    background-color: $blue;
    border-radius: 18px;
    width: 110px;
    height: 45px;
    display: flex;
    position: relative;
    margin: -9px 30px;
    .slick__arrow {
        position: absolute;
        width: 7px;
        height: 14px;
    }
    .arrow-left {
        background-image: url(../images/slider/icons/arrow-left.png);
        top: 15px;
        left: 27px;
        cursor: pointer;
    }
    .arrow-right {
        background-image: url(../images/slider/icons/arrow-right.png);
        top: 15px;
        right: 27px;
        cursor: pointer;
    }
}

.feedback__items {
    margin-bottom: 120px;
}

// end slider feedback
// start counter
.counter {
    background-color: #212225;
}

.counter__inner {
    display: flex;
    justify-content: space-between;
    max-height: 350px;
}

.counter__items {
    text-align: center;
    &-briefcase {
        padding-top: 190px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-number {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 36px;
        color: #feb71d;
        padding-bottom: 20px;
    }
    &-text {
        color: #fff;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 96px;
    }
}

.counter__sales {
    text-align: center;
    &-cloud {
        padding-top: 190px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-number {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 36px;
        color: #58c9e9;
        padding-bottom: 20px;
    }
    &-text {
        color: #fff;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 96px;
    }
}

.counter__customers {
    text-align: center;
    &-smile {
        padding-top: 190px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-number {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 36px;
        color: #77de51;
        padding-bottom: 20px;
    }
    &-text {
        color: #fff;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 96px;
    }
}

.counter__members {
    text-align: center;
    &-people {
        padding-top: 190px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-number {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 36px;
        color: #ff6a6d;
        padding-bottom: 20px;
    }
    &-text {
        color: #fff;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 96px;
    }
}

// end counter
// start about
.about {
    background-color: #fff;
}

.about__title {
    @include title;
}

.about__text {
    @include title-text;
}

.about__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__item {
    max-width: 361px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-bottom: 30px;
    &-numbering {
        font-weight: 300;
        font-size: 48px;
        color: #5c87f8;
        opacity: 10%;
        padding-top: 20px;
        padding-left: 20px;
    }
    &-icon {
        padding-top: 100px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-title {
        color: #000;
        text-align: center;
        font-size: 24px;
        margin-bottom: 28px;
    }
    &-text {
        text-align: center;
        margin-bottom: 60px;
    }
}

// end about
// start market
.market__inner {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #fff;
    margin-top: -4px;
}

.market__sell {
    background-image: url(../images/market/sell-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.market__buy {
    background-image: url(../images/market/buy-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.market-icon {
    padding-bottom: 250px;
    background-repeat: no-repeat;
    background-position: center;
}

.market__title {
    font-size: 36px;
    margin-bottom: 30px;
}

.market__text {
    padding: 0px 180px;
    margin-bottom: 45px;
}

.market__btn {
    width: 190px;
    height: 55px;
    margin-bottom: 100px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    &-link {
        cursor: default;
    }
}

.btn-sell {
    color: #0674ec;
}

.btn-buy {
    color: #7347c1;
}

// end market
// start feedback
.feedback {
    background-color: #fff;
}

.feedback__title {
    @include title;
}

.feedback__text {
    @include title-text;
}

.feedback__inner {
    display: flex;
    justify-content: space-between;
}

.feedback__item {
    position: relative;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    max-width: 555px;
    width: 100%;
    border-left: 2px solid #0674ec;
    &-user {
        position: absolute;
        top: 65px;
        left: 138px;
    }
    &-specialty {
        position: absolute;
        top: 99px;
        left: 138px;
    }
    &-text {
        margin-top: 49px;
        padding: 0px 40px 50px;
    }
}

.icon-avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50px;
    left: 40px;
}

.icon-bubble {
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 55px;
    margin-right: 43px;
    margin-top: 55px;
}

.feedback__link {
    border-radius: 25px;
    margin: 60px 473px 120px;
    .feedback__btn {
        width: 223px;
        height: 55px;
        background-color: $blue;
        border-radius: 25px;
        color: #fff;
        cursor: pointer;
        outline: none;
        border: none;
    }
}

// end feedback
// start news
.news__title {
    @include title;
}

.news__text {
    @include title-text;
}

.news__inner {
    display: flex;
    justify-content: space-between;
}

.news__item {
    max-width: 361px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 120px;
    &-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 230px;
    }
    &-title {
        color: #000;
        font-size: 22px;
        font-weight: 500;
        text-align: left;
        margin-top: 30px;
        padding-left: 28px;
    }
    &-text {
        text-align: left;
        margin-top: 30px;
        padding-left: 28px;
        padding-right: 28px;
    }
    &-statistics {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ececec;
        margin-top: 27px;
    }
}

.news__statistics {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    &-date {
        height: 40px;
        width: 150px;
        padding-top: 10px;
        padding-right: 5px;
        padding-left: 23px;
        margin-top: 10px;
        margin-bottom: 8px;
        margin-left: 30px;
        border-right: 1px solid #ececec;
        color: #999999;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/news/icons/clock.png);
            width: 16px;
            height: 15px;
            left: 0;
            bottom: 7px;
        }
    }
    &-comments {
        color: #7e7e7e;
        margin-top: 20px;
        width: 39px;
        padding-left: 23px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/news/icons/bubble.png);
            width: 16px;
            height: 14px;
            left: 0;
            bottom: 15px;
        }
    }
    &-visits {
        color: #7e7e7e;
        margin-top: 20px;
        width: 47px;
        padding-left: 23px;
        margin-right: 30px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/news/icons/eye.png);
            width: 17px;
            height: 9px;
            left: 0;
            bottom: 17px;
        }
    }
}

// end news
// start promises
.promises {
    background-color: #fff;
}

.promises__inner {
    display: flex;
    justify-content: space-between;
}

.promises__guarantee {
    max-width: 570px;
    width: 100%;
    border-right: 1px solid #e8eaf3;
    &-icon {
        padding-top: 121px;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 62px;
    }
    &-text {
        padding-top: 120px;
        color: #000;
        font-size: 24px;
        text-align: center;
        margin-bottom: 25px;
        span {
            color: #0674ec;
        }
        margin-top: -90px;
        margin-bottom: 55px;
    }
}

.promises__support {
    max-width: 570px;
    width: 100%;
    text-align: center;
    &-icon {
        padding-top: 121px;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 62px;
    }
    &-text {
        padding-top: 120px;
        color: #000;
        font-size: 24px;
        text-align: center;
        margin-bottom: 25px;
        margin-top: -90px;
        margin-bottom: 55px;
        .title {
            color: #7347c1;
        }
    }
}

// end promises
// start invitation
.invitation {
    background-image: url(../images/invitation-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: -moz-linear-gradient( 180deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
    opacity: 0.902;
    text-align: center;
    &__title {
        color: #fff;
        font-size: 36px;
        padding-top: 110px;
    }
    &__text {
        font-size: 18px;
        color: #e7e7e7;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    &__btn {
        width: 190px;
        height: 55px;
        border-radius: 25px;
        border: none;
        outline: none;
        cursor: pointer;
        color: #0674ec;
    }
    a {
        margin-bottom: 110px;
        cursor: default;
    }
}

// end invitation
// start footer
.footer {
    background-color: #262b30;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    max-width: 264px;
    width: 100%;
    margin-right: 75px;
    &-text {
        margin-top: 30px;
        color: #ababab;
        font-size: 15px;
        line-height: 28px;
    }
    &-phone {
        margin-top: 16px;
        position: relative;
        padding-left: 29px;
        a {
            color: #ababab;
            font-size: 15px;
            line-height: 28px;
        }
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/footer/phone-handset.png);
            width: 17px;
            height: 17px;
            left: 0;
            bottom: 9px;
        }
    }
    &-email {
        margin-top: 2px;
        position: relative;
        padding-left: 29px;
        a {
            color: #ababab;
            font-size: 15px;
            line-height: 28px;
        }
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/footer/envelope.png);
            width: 17px;
            height: 11px;
            left: 0;
            bottom: 9px;
        }
    }
    address {
        margin-top: 15px;
        margin-bottom: 125px;
        color: #ababab;
        font-size: 15px;
        line-height: 28px;
        padding-left: 29px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/footer/map-marker.png);
            width: 10px;
            height: 17px;
            left: 3px;
            bottom: 19px;
        }
    }
}

.footer__img {
    margin-top: 115px;
}

.footer__company {
    max-width: 130px;
    width: 100%;
    margin-right: 120px;
}

.footer__title {
    margin-top: 125px;
    color: #fff;
    font-size: 18px;
}

.footer__list {
    margin-top: 37px;
    li {
        margin-bottom: 2px;
        a {
            color: #ababab;
            font-size: 15px;
        }
    }
}

.footer__help {
    max-width: 135px;
    width: 100%;
    margin-right: 60px;
}

.footer__newsletter {
    &-text {
        margin-top: 40px;
        color: #ababab;
        font-size: 15px;
        line-height: 28px;
    }
    form {
        position: relative;
    }
}

.footer__input-email {
    margin-top: 35px;
    width: 360px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    &::placeholder {
        padding-left: 30px;
        padding-right: 120px;
    }
}

.footer__input-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    border: none;
    outline: none;
    width: 110px;
    height: 50px;
    background-color: #0674ec;
    color: #fff;
    cursor: pointer;
}

.footer__social-link {
    margin-top: 48px;
    margin-bottom: 33px;
    li {
        display: inline-block;
        &+li {
            margin-left: 13px;
        }
    }
    a {
        width: 42px;
        height: 42px;
        background-image: url(../images/footer/css_sprites.png);
    }
}

.link-twitter {
    background-position: -42px -0;
}

.link-google {
    background-position: -84px -0;
}

.link-pinterest {
    background-position: -126px -0;
}

.link-linkedin {
    background-position: -168px -0;
}

.link-dribbble {
    background-position: -210px -0;
}

.footer__bottom {
    color: #999999;
    text-align: center;
    padding: 40px 0;
    background-color: #192027;
    .span-bottom {
        color: #fff;
    }
}

// end footer
// Category page CSS
// search category start
.search__category {
    &-inner {
        text-align: center;
    }
    &-text {
        padding-top: 85px;
        color: #f3f3f8;
        font-size: 26px;
    }
    form {
        margin-top: 30px;
    }
    input {
        width: 555px;
        height: 55px;
        border-radius: 25px;
        border: none;
        outline: none;
        padding: 0 130px 0 30px;
        position: relative;
    }
}

// search category end